[Unit]
Description=OSBuild Composer Remote Worker (%i)
After=multi-user.target

[Service]
Type=simple
PrivateTmp=true
ExecStart=/run/user/1000/osbuild/osbuild-worker %i
Restart=on-failure
RestartSec=10s
CPUSchedulingPolicy=batch
IOSchedulingClass=idle
CacheDirectory=osbuild-worker
# systemd >= 240 sets this, but osbuild-worker runs on earlier versions
Environment="CACHE_DIRECTORY=/run/user/1000/osbuild/cache/osbuild-worker"

[Install]
WantedBy=multi-user.target